$bk-ground: #313448;
$color:#fff;
$indent-20px:20px;
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: $bk-ground;
    color: $color;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding-top: $indent-20px;
    padding-bottom: $indent-20px;
    font-family: "Trebuchet MS", "Helvetica", sans-serif;
}
.title{
    font-size: 45px;
    order:-1;
    
}
.keyboard{
    width: 700px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: 5px solid #65677d;
    order: 2;
    margin-top: $indent-20px;
    height: 200px;
    background-color: rgba(189,190,207,.3);
}
.textarea{
    width: 700px;
    height: 200px;
    padding: $indent-20px;
    font-size: 20px;
    margin-top: $indent-20px;
    border: 5px solid #65677d;
    border-radius: 15px;
    outline: none;
    background: #7a7c94;
    color: $color;
}
.description{
    order: 4;
    margin-top: 40px;
    font-weight: 600;
}